<mat-toolbar color="primary">
    <mat-toolbar-row class="navbar">
      <span class="navbar-title">Employee Salary Portal</span>
      <button class="navbar-toggle" mat-button>&#9776;</button> 
      <div class="navbar-links">
        <button mat-button routerLink="home">Home</button>
        <button mat-button routerLink="about">About</button>
        <button mat-button routerLink="contact">Contact</button>
        <button mat-button>Login</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  