<mat-grid-list cols="2" rowHeight="2:1" class="mat-grid-list">
    <mat-grid-tile class="mat-grid-tile heading-tile">
      <div class="headingcontent">
        <h1 class="page-heading">About Us</h1>
        <p>Welcome to the Employee Salary Management System's "About Us" page. Here, we provide you with information about our application and the team behind it. Our mission is to simplify and streamline employee salary management for businesses of all sizes. We aim to provide a user-friendly, efficient, and secure platform to handle payroll, compensation, and financial records.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile image-tile">
        <img src="assets/about.png" alt="About Image 2" class="responsive-image" />
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile image-tile">
        <img src="assets/about1.png" alt="About Image 1" class="responsive-image" />
       
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile content-tile">
      <div class="content">
        <p>If you have any questions, feedback, or inquiries, please don't hesitate to <a routerLink="/contact">contact us</a>. We value your input and are here to assist you.</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <app-footer></app-footer>