<mat-grid-list cols="2" rowHeight="1:1" class="mat-grid-list">
    <mat-grid-tile class="mat-grid-tile heading-tile">
      <div class="headingcontent">
        <h1 class="page-heading">Contact Us</h1>
        <p> If you have any questions, feedback, or inquiries, please don't hesitate to reach out to our support team. We are here to assist you.</p>
        <ul>
            <li>Email: support@empsal.com</li>
            <li>Phone: +91 9876543210</li>
            <li>Address: Gewra Commorzone, Kharadi, Pune, Maharashtra, India</li>
        </ul>
    </div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile image-tile">
        <img src="assets/contact1.png" alt="contact Image 2" class="responsive-image" />
    </mat-grid-tile>    
  </mat-grid-list>
  <app-footer></app-footer>


