
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .home-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .home-content h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
  }
 
  .home-image img {
    max-width: 100%;
    height: auto;
    border: transparent;
    margin-top: 20px;
    border-radius: 25%,25%,50%;
  }
  

  @media (min-width: 768px) {
    /* html,body{
      width: 100px;
      height: 100px;
      margin: 0;
      padding: 0;
      overflow-x:hidden;
    } */
    .home-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .home-content {
      width: 50%;
      text-align: left;
    }
  
    .home-image {
      width: 40%;
    }
  }
  